/*Estilização Autoral de Mateus Belfort-(https://github.com/Mateus-Belfort)*/


@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Reggae One';
    text-decoration: none;
}

body {
    background: #8BE5F9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container {
    background: #D9D9D9;
    position: relative;
    width: 872px;
    height: 606px;
    right: 0;
    top: 0;    
}

.nav-bar {
    position: absolute;
    width: 100%;
    height: 65px;
    left: 0;
    top: 0;
    background: #A8A6A6;
}

.nav-bar h3 {
    text-align: center;
    padding: 10px 40px;
    font-size: 28px;
}

.first-box {
    position: absolute;
    width: 95%;
    height: 200px;
    left: 2%;
    right: 2%;
    top: 15%;
    background: #FFFDFD;    
}

.first-box .normal {
    width: 100%;
    height: 200px;
    padding: 7px;
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
}

.first-box .normal{
    width: 100%;
    height: 200px;
    padding: 7px;
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
}

.button {
    position: absolute;
    width: 20%;
    height: 40px;
    left: 40%;
    right: 60%;
    top: 49%;    
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button input {
    text-align: center;
    background: #3A3838;
    padding: 10px 15px;    
    margin-top: 10px;   
    color: #FFFFFF;
    font-style: normal;
    font-size: 20px;    
    border-radius: 15px;
    cursor: pointer;
}

.button input:hover{
    color: #000;
    text-shadow: 3px 3px 0.1em #eee;
    box-shadow: 5px 0.2em 0.2em #8BE5F9;
    cursor: pointer;
}

.second-box {
    position: absolute;
    width: 95%;
    height: 200px;
    left: 2%;
    right: 2%;
    top: 58%;
    background: #FFFDFD;
}

.second-box .morse {
    width: 100%;
    height: 200px;
    padding: 7px;
    resize: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.icon {
    position: absolute;
    left: 93%;
    right: 7%;
    top: 92.5%;
    bottom: 7.5%;        
}

.icon-copy{
    position: absolute;
    left: 86%;
    right: 14%;
    top: 92.5%;
    bottom: 7.5%;
    border: none;
    background: #D9D9D9;
    cursor: pointer; 
}

.icon-copy button{
    position: relative;
    left: 86%;
    right: 14%;
    top: 88%;
    bottom: 12%;
    border: none;
    background: #D9D9D9;
    cursor: pointer; 
}

.icon button {
    border: none;
    background: #D9D9D9;
    cursor: pointer;
}

.footer{
    position: absolute;
    width: 100%;
    height: 8%;
    background: #D9D9D9;
    top: 92%;    
}

.footer h5 , a{
    text-align: center;
    padding-top: 43.4px;
    color: #000;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 390px){
    .nav-bar h3 {
        text-align: center;
        padding: 10px 20px;
        font-size: 22px;
    }

    .icon-copy{
        position: absolute;
        left: 80%;
        right: 20%;
        top: 92.5%;
        bottom: 7.5%;
        border: none;
        background: #D9D9D9;
        cursor: pointer; 
    }

    .icon {
        position: absolute;
        left: 90%;
        right: 10%;
        top: 92.5%;
        bottom: 7.5%;        
    }

    .footer h5 , a{
        text-align: center;
        padding-top: 30px;
        color: #000;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }

    .first-box .normal{
        font-size: 10px;
        font-weight: normal;
        letter-spacing: 1px;
        border-radius: 5px;
        border: none;
    }

    .second-box .morse {
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 5px;
        border: none;
    }
}

@media (max-width: 450px){
    .nav-bar h3 {
        text-align: center;
        padding: 10px 20px;
        font-size: 22px;
    }

    .icon-copy{
        position: absolute;
        left: 80%;
        right: 20%;
        top: 92.5%;
        bottom: 7.5%;
        border: none;
        background: #D9D9D9;
        cursor: pointer; 
    }

    .icon {
        position: absolute;
        left: 90%;
        right: 10%;
        top: 92.5%;
        bottom: 7.5%;        
    }

    .footer h5 , a{
        text-align: center;
        padding-top: 30px;
        color: #000;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }

    .first-box .normal{
        font-size: 10px;
        font-weight: normal;
        letter-spacing: 1px;
        border-radius: 5px;
        border: none;
    }

    .second-box .morse {
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 5px;
        border: none;
    }
}


