/*Estilização Autoral de Mateus Belfort-(https://github.com/Mateus-Belfort)*/

@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Reggae One';
    text-decoration: none;
}

body {
    background: #8BE5F9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container {
    background: #D9D9D9;
    position: relative;
    width: 872px;
    height: 606px;
    right: 0;
    top: 0;    
}

.nav-bar {
    position: absolute;
    width: 100%;
    height: 65px;
    left: 0;
    top: 0;
    background: #A8A6A6;
}

.nav-bar h3 {
    text-align: center;
    padding: 10px 40px;
    font-size: 28px;
}

.first-box {
    position: absolute;
    width: 95%;
    height: 200px;
    left: 2%;
    right: 2%;
    top: 15%;
    background: #FFFDFD;    
}

.first-box .normal {
    width: 100%;
    height: 100%;
    padding: 7px;
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
}

.button {
    position: absolute;
    width: 20%;
    height: 20px;
    left: 40%;
    right: 60%;
    top: 50.5%;    
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button input {
    text-align: center;
    background: #3A3838;
    padding: 10px 15px;    
    margin-top: 10px;   
    color: #FFFFFF;
    font-style: normal;
    font-size: 15px;    
    border-radius: 15px;
    cursor: pointer;
}

.button input:hover{
    color: #000;
    text-shadow: 3px 3px 0.1em #eee;
    box-shadow: 5px 0.2em 0.2em #8BE5F9;
    cursor: pointer;
}

.second-box {
    position: absolute;
    width: 95%;
    height: 200px;
    left: 2%;
    right: 2%;
    top: 58%;
    background: #FFFDFD;
}

.second-box .morse {
    width: 100%;
    height: 200px;
    padding: 7px;
    resize: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.icon-copy {
    position: absolute;
    left: 92%;
    right: 8%;
    top: 92.5%;
    bottom: 7.5%;        
}

.icon-reload {
    position: absolute;
    left: 85%;
    right: 15%;
    top: 92.5%;
    bottom: 7.5%;
}

#tooltip-reload, #tooltip-copy{
    border: none;
    background: #D9D9D9;
    cursor: pointer;
}


#tooltip-reload::after{
    content: "Limpar";
    position: absolute;
    background-color: #A8A6A6;
    padding-top: 8px;
    top: 0.1px;
    font-size: 12px;
    color: #eee;
    left: 1.5px;
    letter-spacing: 1px;    
    width: 65px;
    height: 20px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
}

#tooltip-reload:is(:hover, :focus)::after {
    opacity: 1;
    transform: translateY(-48px);
}

#tooltip-copy::after{
    content: "Copiar";
    position: absolute;
    background-color: #A8A6A6;
    padding-top: 8px;
    top: 0.1px;
    font-size: 12px;
    color: #eee;
    left: 1.5px;
    letter-spacing: 1px;    
    width: 60px;
    height: 20px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
}

#tooltip-copy:is(:hover, :focus)::after {
    opacity: 1;
    transform: translateY(-48px);
}

.footer{
    position: absolute;
    width: 100%;
    height: 7%;
    background: #D9D9D9;
    top: 93%;    
    left: 0; 
}

.footer h5 , a{
    text-align: center;
    padding: 25px 0;
    color: #000;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 390px){
    .nav-bar h3 {
        text-align: center;
        padding: 10px 20px;
        font-size: 22px;
    }

    .icon-copy  {
        position: absolute;
        left: 79%;
        right: 21%;
        top: 92.5%;               
    }

    .icon-reload {
        position: absolute;
        left: 65%;
        right: 35%;
        top: 92.5%;
        bottom: 7.5%;
    }

    .footer h5 , a{
        text-align: center;
        padding-top: 30px;
        color: #000;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }

    .first-box .normal{
        font-size: 10px;
        font-weight: normal;
        letter-spacing: 1px;
        border-radius: 5px;
        border: none;
    }

    .second-box .morse {
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 5px;
        border: none;
    }
}

@media (max-width: 450px){
    .nav-bar h3 {
        text-align: center;
        padding: 10px 20px;
        font-size: 22px;
    }

    
    .icon-copy  {
        position: absolute;
        left: 79%;
        right: 21%;
        top: 92.5%;               
    }

    .icon-reload {
        position: absolute;
        left: 65%;
        right: 35%;
        top: 92.5%;
        bottom: 7.5%;
    }

    .footer{
        position: absolute;
        width: 100%;
        height: 8%;
        background: #D9D9D9;
        top: 92%;    
    }

    .footer h5 , a{
        text-align: center;
        padding-top: 30px;
        color: #000;
        font-size: 13px;
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }

    .first-box .normal{
        font-size: 10px;
        font-weight: normal;
        letter-spacing: 1px;
        border-radius: 5px;
        border: none;
    }

    .second-box .morse {
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 5px;
        border: none;
    }
}


